<center>
<%= will_paginate @entries %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Name</th>
      <th>Email</th>
      <th>Type</th>
      <th>Recipient</th>
      <th>Prefs</th>
      <th>Qty</th>
      <th>Pmt</th>
      <th>Term</th>
      <th>Rec Name</th>
      <th>Note</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.id %></td>
      <td><%= entry.created_at.in_time_zone('Eastern Time (US & Canada)').strftime('%m/%d/%y %I:%M%p') %></td>
      <td><%= entry.name %></td>
      <td><%= entry.email %></td>
      <td><%= entry.sub_type %></td>
      <td><%= entry.recipient %></td>
      <td><%= entry.prefs %></td>
      <td><%= entry.qty %></td>
      <td><%= entry.payment %></td>
      <td><%= entry.term %></td>
      <td><%= entry.recipient_name %></td>
      <td><%= entry.gift_note %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</center>